<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
    <link rel="stylesheet" th:href="@{/css/newPasswordSuccess.css}">
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
</head>
<body>
<div class="container">
    <img th:src="@{/img/Logo2.jpg}" alt="로고" class="logo">

    <div class="form-box">
        <h2>비밀번호 찾기</h2>
        <p style="margin-bottom: 30px; font-weight: bold;" th:text="${msg}">비밀번호가 변경되었습니다</p>

        <button id="btnLogin" class="confirm-btn">로그인</button>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#btnLogin").on("click", function () {
            location.href = "/user/login";
        });
    });
</script>
</body>
</html>
