body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #FFFFFF;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.logo {
    width: 120px;
    height: 120px;
    object-fit: contain;
    margin-bottom: 30px;
}

.form-box {
    background-color: #ffffff;
    border: 5px solid #ff3B30;
    border-radius: 20px;
    padding: 40px;
    width: 350px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.form-box h2 {
    text-align: center;
    margin-bottom: 30px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    padding: 10px;
    border: 2px solid #000;
    border-radius: 8px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #ff3B30;
    color: black;
    font-weight: bold;
    border: 2px solid #000;
    border-radius: 10px;
    font-size: 22px;
    cursor: pointer;
    transition: all 0.2s ease;
}

button:hover {
    background-color: #e13320;
}
